body{
    font-family: 'Roboto', sans-serif;
    background: #cbddca!important;
    overflow-y: scroll;
}
.container{
    max-width: 850px!important;
    margin: auto;
}
.controller{
    background: #000000;
    padding: 10px;
}
.controller button{
    padding:5px 10px;
    margin-left:10px;
}
.panel{background:#fff;}
.demo{
    width:470px;
    float:left;
    background:#fff;
    padding: 10px;
}
.rightside{
    text-align: center;
    width:290px;
    float:right;
    padding:10px;
    background:#f1f1f1;
}
.clear{
    width: 100%;
    clear: both;
}
.properties input{
    font-size:13px;
    width: 100%;
    padding:5px;
    margin-bottom:10px;
}
select#select_box {
    font-size: 13px;
}
select{
    font-size:13px;
    width:100%;
    padding:5px;
    margin-top:10px;
}
.button{
    width:100%!important;
    padding:4px;
    float:left;
    margin-top:10px;
}
.exitButton{
    width:24px!important;
    padding:5px;
    float:rigth;
}
#preview{
    width: 100%;
    height:200px;
    border:1px solid rgb(169, 169, 169);;
    background:#f9f9f9;
}

.layers{
    height:auto;
}
.layers-list{
    font-size: 13px;
    height: 120px;
}
ul.layers-control{
    margin: 0;
    padding: 0;
    height:40px;
}
ul.layers-control li{
    padding:5px;
    line-height: 30px;
    display: inline;
    list-style-type: none;
    cursor: pointer;
}
li#add-layer, li#delete-layer{
    float:left;
    margin-right: 5px;
}

li#up-layer, li#down-layer{
    float:right;
    margin-left: 5px;
}
li.clear{
    clear:both;
}
.line{
    width:100%;
    height:5px;
    line-height: 5px;
    border-top:1px solid rgb(168, 168, 168);
}

.showNotification{
    margin:10px 0;
    color:#fff;
    font-size: 13px;
    background: #a88a28;
    padding:4px;
    border:1px solid #7c661e;
    border-radius: 3px;
    display: block;
}

.sectionArea{
    border:1px solid #ccc;
    background: #eee;
    padding: 3px;
    margin-bottom:10px;
    text-align: center;
}

.sectionOption{
    height: auto;
    padding:10px;
    background:#fff;
    border:1px solid #ccc;
    margin:0px 0px 0px 0;
}

.sectionHeader{
    padding:15px;
    cursor: pointer;
}

.iconImage{
    padding: 3px 0 0 40px;
    height:32px;
    display: inline-block;
    background:url(../images/open-arrow.png) no-repeat;
    text-align:center;
    opacity: 0.5;
}

.formOptions input{
    font-size: 13px;
    width: 100%;
}

.leftInput, .rightInput{
    width:44%;
    margin:10px;
}

.leftInput{
    float: left;
}

.rightInput{
    float:right;
}

.bgColorPicker{
    width:30%!important;
    float:right;
    margin-right: -4px;
    height: 19px;
    padding: 1px 0;
}

.bgColorPickerText{
    width:64%!important;
    float:left;
}

.tab{
    margin-left:2em; 
}

.codeBox{
    word-wrap: break-word;
    border:1px solid #ccc;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}

.properties{
    margin-top:10px;
}